/* Asciidoctor default stylesheet | MIT License | https://asciidoctor.org */

@import url(//fonts.googleapis.com/css?family=Montserrat|Open+Sans);
@import url(https://cdn.jsdelivr.net/gh/asciidoctor/asciidoctor@2.0/data/stylesheets/asciidoctor-default.css); /* Default asciidoc style framework - important */

/* CUSTOMISATIONS */
/* Change the values in root for quick customisation. If you want even more fine grain... venture further. */
:root{
--maincolor:#FFFFFF;
--primarycolor:#294172; /* Fedora Dark Blue */
--secondarycolor:#3c6eb4; /* Fedora Blue */
--tertiarycolor:#CCCCCC;
--highlightcolor:#e59728; /* Features Orange */
--sidebarbackground:#CACACA;
--linkcolor:#0D47A1;
--linkcoloralternate:#db3279; /* Friends Magneta */
--white:#FFFFFF;
--black:#000000;

}


/* Text styles 

body{font-family: "Open Sans",sans-serif;background-color: var(--maincolor);color:var(--black);}
*/
h1{
    display: block;
    font-size: 3em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    font-weight: bold;
}
h2{
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    font-weight: bold;
}

h2{
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    font-weight: bold;
}

h3{
    display: block;
    font-size: 1.15em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    font-weight: bold;
}

.videoblock {
    position: relative;
    height: 600px;
    width: 1200px;
    overflow: hidden;
  }
.videoblock .content iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    padding-top: 32px;
}

span.image {
    display:inline-block;
    transition: transform ease-in-out 0.3s;
    border: 1px solid #555;
    border-width: thin;
    cursor: pointer;
}


div.paragraph {
    padding-top:30px; 
}


.contribute_title_desc {
    text-align: center;
    color: white;
    position: relative;
}

.contribute_title_desc p {
    margin: 0;
    position: absolute;
    top: 75%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
.contribute_banner_desc p {
    text-align: center;
    color: white;
    margin: 0;
    position: relative;
    top: 75%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .contribute_title_desc h1  {
    font-size: 4em;
    color: white;
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .halfsize {
    -moz-transform:scale(0.5);
    -webkit-transform:scale(0.5);
    transform:scale(0.5);
}

.contributecardimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.bannerimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    --pf-l-flex--Display: flex;
    --pf-l-flex--FlexWrap: wrap;
    --pf-l-flex--AlignItems: unset;
    --pf-l-flex--m-row--AlignItems: baseline;
    --pf-l-flex--m-row-reverse--AlignItems: baseline;
    --pf-l-flex--item--Order: 0;
    --pf-l-flex--spacer-base: var(--pf-global--spacer--md);
    --pf-l-flex--spacer: var(--pf-l-flex--spacer-base);
    --pf-l-flex--spacer--none: 0;
    --pf-l-flex--spacer--xs: var(--pf-global--spacer--xs);
    --pf-l-flex--spacer--sm: var(--pf-global--spacer--sm);
    --pf-l-flex--spacer--md: var(--pf-global--spacer--md);
    --pf-l-flex--spacer--lg: var(--pf-global--spacer--lg);
    --pf-l-flex--spacer--xl: var(--pf-global--spacer--xl);
    --pf-l-flex--spacer--2xl: var(--pf-global--spacer--2xl);
    --pf-l-flex--spacer--3xl: var(--pf-global--spacer--3xl);
    --pf-l-flex--spacer--4xl: var(--pf-global--spacer--4xl);
    align-items: var(--pf-l-flex--AlignItems);
    display: var(--pf-l-flex--Display);
    flex-wrap: var(--pf-l-flex--FlexWrap);
}

.left {
    float:left;
    width:50%;
    margin-right: 17px;
}

.right {
    width:40%;
}

.pf-c-page__main-section{
    display: block;
    margin-left: auto;
    margin-right: auto;
}





.learn_more_iframe{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}
.contribute_card_header{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contributecardbody,
.contributecardtitle,
.pf-c-card__body {
    --pf-c-card__body--FontSize: reset;
}
.contributecardbody,
.contributecardtitle{
    text-align: center;
}

.footerCopyRighttext,
.footertext{
    text-align: center;
    font-size: 0.9em;
    color: white;
    position: relative;
}
.footerCopyRighttext{
    font-size: 1em;
}
.footerdiv {
    display: block;
    box-sizing: border-box;
}

section.tablepadding{
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 5%;
}

table.pf-c-table.pf-m-width-100.contribute_table.pf-c-table.pf-m-grid-md.pf-m-compact.pf-m-no-border-rows{
    position: fixed;
    width: max-content;
}


section.banner{
    padding-bottom: 0;
}

div.pf-c-banner.footer_banner{
    --pf-c-banner--BackgroundColor: rgb(12 12 12);
    width: 100%;
    font-size: 1em;
    white-space: normal;
}

img.pf-c-brand.footer-traditional-logo{
    width: 138px;
    height: 40px;
}

.bg-dark-gray {
    background-color: #262626 !important;
}

.page__colophon {
    font-size: 0.9rem;
    color: #b3b5b7;
    
}


.py-4 {
    padding-bottom: 1.5rem !important;
    padding-top: 1.5rem !important;
}

span.middle_content {
    padding-right: 1em;
}
span.banner_link_learn_more{
    margin-left: auto;
    margin-right: 0;
}

.pf-c-divider {
    padding-bottom: 1em;
    padding-top: 1em;
}

div.olist.arabic{
    padding-top: 1em;
}

div.ulist{
    padding-top: 1em;
}

/*Main content setting*/

@media (min-width: 300px) { .main_content_section{
    max-width: 280px;
} }

@media (min-width: 350px) { .main_content_section{
    max-width: 340px;
} }

@media (min-width: 768px) { .main_content_section{
    max-width: 750px;
} }

@media (min-width: 920px) { .main_content_section{
    max-width: 870px;
} }

@media (min-width: 1200px) { .main_content_section{
    max-width: 1170px;
} }

@media (min-width: 1400px){ .main_content_section{
    max-width: 1320px;
} }

@media (min-width: 2000px){ .main_content_section{
    max-width: 1840px;
} }


@media (min-width: 2400px){ .main_content_section{
    max-width: 2100px;
   
} }


/**card**/
@media (min-width: 300px) { div.pf-l-gallery.pf-m-gutter.learn_more_gallery_process{
    --pf-l-gallery--GridTemplateColumns--min: 200px;
    margin-left: auto;
    margin-right: auto;
} }

@media (min-width: 350px) { div.pf-l-gallery.pf-m-gutter.learn_more_gallery_process{
    --pf-l-gallery--GridTemplateColumns--min: 250px;
    margin-left: auto;
    margin-right: auto;
} }

@media (min-width: 768px) { div.pf-l-gallery.pf-m-gutter.learn_more_gallery_process{
    --pf-l-gallery--GridTemplateColumns--min: 400px;
    margin-left: auto;
    margin-right: auto;
} }

@media (min-width: 920px) { div.pf-l-gallery.pf-m-gutter.learn_more_gallery_process{
    --pf-l-gallery--GridTemplateColumns--min: 200px;
    margin-left: auto;
    margin-right: auto;
} }

@media (min-width: 1200px) { div.pf-l-gallery.pf-m-gutter.learn_more_gallery_process{
    --pf-l-gallery--GridTemplateColumns--min: 175px;
    margin-left: auto;
    margin-right: auto;
} }

@media (min-width: 1400px){ div.pf-l-gallery.pf-m-gutter.learn_more_gallery_process{
    --pf-l-gallery--GridTemplateColumns--min: 200px;
    margin-left: auto;
    margin-right: auto;
} }

@media (min-width: 2000px){ div.pf-l-gallery.pf-m-gutter.learn_more_gallery_process{
    --pf-l-gallery--GridTemplateColumns--min: 280px;
    margin-left: auto;
    margin-right: auto;
} }


@media (min-width: 2400px){ div.pf-l-gallery.pf-m-gutter.learn_more_gallery_process{
    --pf-l-gallery--GridTemplateColumns--min: 350px;
    margin-left: auto;
    margin-right: auto;
} }

@media (min-width: 300px) { div.pf-l-gallery.pf-m-gutter.learn_more_gallery{
    --pf-l-gallery--GridTemplateColumns--min: 280px;
    margin-left: auto;
    margin-right: auto;
} }

@media (min-width: 350px) { div.pf-l-gallery.pf-m-gutter.learn_more_gallery{
    --pf-l-gallery--GridTemplateColumns--min: 330px;
    margin-left: auto;
    margin-right: auto;
} }

@media (min-width: 768px) { div.pf-l-gallery.pf-m-gutter.learn_more_gallery{
    --pf-l-gallery--GridTemplateColumns--min: 500px;
    margin-left: auto;
    margin-right: auto;
} }

@media (min-width: 920px) { div.pf-l-gallery.pf-m-gutter.learn_more_gallery{
    --pf-l-gallery--GridTemplateColumns--min: 200px;
    margin-left: auto;
    margin-right: auto;
} }

@media (min-width: 1200px) { div.pf-l-gallery.pf-m-gutter.learn_more_gallery{
    --pf-l-gallery--GridTemplateColumns--min: 250px;
    margin-left: auto;
    margin-right: auto;
} }

@media (min-width: 1400px){ div.pf-l-gallery.pf-m-gutter.learn_more_gallery{
    --pf-l-gallery--GridTemplateColumns--min: 280px;
    margin-left: auto;
    margin-right: auto;
} }

@media (min-width: 2000px){ div.pf-l-gallery.pf-m-gutter.learn_more_gallery{
    --pf-l-gallery--GridTemplateColumns--min: 380px;
    margin-left: auto;
    margin-right: auto;
} }


@media (min-width: 2400px){ div.pf-l-gallery.pf-m-gutter.learn_more_gallery{
    --pf-l-gallery--GridTemplateColumns--min: 450px;
    margin-left: auto;
    margin-right: auto;
} }


.blank_card{
    min-width: 3000px;
}




.pf-c-page__header{
    width: 100%;
}


/*main page*/
div.pf-l-gallery.pf-m-gutter.catalog_gallery{
    --pf-l-gallery--GridTemplateColumns--min: 400px;
}

@media (min-width: 300px){ div.pf-l-gallery.pf-m-gutter.catalog_gallery{
    --pf-l-gallery--GridTemplateColumns--min: 280px;
} }

@media (min-width: 350px){ div.pf-l-gallery.pf-m-gutter.catalog_gallery{
    --pf-l-gallery--GridTemplateColumns--min: 320px;
} }


.catalog_card_img{
    min-width: 230px;
}
.pf-c-page{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}


div.pf-c-page.banner_page{
    display: block;
}
